* {
   /* margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
    */
   font-family: sans-serif; 
}

html,
.body {
   background-color: rgb(66, 66, 66);
}

canvas {
   margin-left: 2.5rem;
   border-radius: 10px;
   margin-bottom: 3rem;
   box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
}
/* .title {
   display: flex;
} */
#gameOver {
   width: 50%;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(27, 27, 27);
   padding: 2rem;
   color: beige;
   border-radius: 10px;
   box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
}
/* #gameOver input {
   height: 1em;
   font-size: 1.5em;
   padding: 1em;
   background-color: rgba(255, 255, 255, 0.5);
   border: none;
   outline: none;
   border-radius: 0.5em;
   color: black;
   font-weight: bolder;
   grid-column: 1 2;
}
